<% flash.each do |type, message| %>
  <div class="alert <%= type == 'notice' ? 'alert-success' : 'alert-error' %> shadow-lg mb-4">
    <div>
      <% if type == 'notice' %>
        <i data-lucide="check-circle" class="h-5 w-5"></i>
      <% else %>
        <i data-lucide="alert-circle" class="h-5 w-5"></i>
      <% end %>
      <span><%= message %></span>
    </div>
  </div>
<% end %>
