<section class="min-h-screen bg-gradient-to-br from-[#3bb4b8] via-[#ffffff40] to-[#3bb4b8]
 flex items-center justify-center px-4 md:px-0 relative">

   <div class="absolute inset-0 bg-no-repeat bg-cover opacity-10"></div>

   <div class="relative z-10 w-full max-w-5xl grid grid-cols-1 md:grid-cols-2 shadow-xl rounded-3xl overflow-hidden
   bg-white/10 backdrop-blur-md border border-white/20">


     <div class="p-8 md:p-12 flex flex-col justify-center bg-white/80 backdrop-blur-md text-gray-800">
       <div class="mb-8">
         <%= image_tag("/logo.png", alt: "Logo", class: "h-10") %>
       </div>

       <h2 class="text-3xl font-bold mb-4">Welcome back 👋</h2>
       <p class="text-sm text-gray-600 mb-6">Vui lòng nhập thông tin đăng nhập của bạn.</p>

       <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
         <div class="space-y-5">

           <div>
             <label class="input validator w-full">
               <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                 <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
                   <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                   <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                 </g>
               </svg>
               <%= f.email_field :email, placeholder: "mail@site.com", required: true,
               class: "w-full bg-transparent focus:outline-none" %>
             </label>
             <p class="validator-hint hidden text-sm">Nhập địa chỉ email hợp lệ.</p>
           </div>

       <!-- Password -->
           <div>
             <label class="input validator w-full">
               <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                 <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
                   <path d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 
                   0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z"></path>
                   <circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
                 </g>
               </svg>
               <%= f.password_field :password, placeholder: "Password", required: true, minlength: 8,
               pattern: "(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{6,}",
               title: "Phải nhiều hơn 6 ký tự, bao gồm số, chữ thường, chữ hoa.",
               class: "w-full bg-transparent focus:outline-none" %>
             </label>
             <p class="validator-hint hidden text-sm">
               Phải có nhiều hơn 6 ký tự, bao gồm:
               <br/>- Ít nhất một số.
               <br/>- Ít nhất một chữ cái thường.
               <br/>- Ít nhất một chữ cái viết hoa.
             </p>
           </div>

         <button class="btn bg-primary text-white w-full rounded">Đăng nhập</button>

         </div>
       <% end %>

     </div>

     <!-- Right side: Image or Banner -->
     <div class="hidden md:block bg-cover bg-center" style="background-image: url('/login-banner.png');"></div>

   </div>
 </section>
